@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Augusta";
  src: url("../../public/fonts/Augusta.woff2") format("woff2");
}
@font-face {
  font-family: "Cristone";
  src: url("../../public/fonts/Cristone.woff2") format("woff2");
}
@font-face {
  font-family: "GrenzeGotisch";
  src: url("../../public/fonts/GrenzeGotisch-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: "normal";
}
@font-face {
  font-family: "GrenzeGotisch";
  src: url("../../public/fonts/GrenzeGotisch-Bold.woff2") format("woff2");
  font-weight: "bold";
  font-style: "bold";
}
@font-face {
  font-family: "GrenzeGotisch";
  src: url("../../public/fonts/GrenzeGotisch-Light.woff2") format("woff2");
  font-weight: "ligth";
  font-style: "ligth";
}
@font-face {
  font-family: "GrenzeGotisch";
  src: url("../../public/fonts/GrenzeGotisch-Regular.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal";
}
