---
// Component imports
import { Layout } from "@globals"

import {SimbolArea} from "@component/SimbolArea"
import {MusicList} from "@component/MusicList"
import sntoloLogo from "@img/sntoloLogo.webp"

---

<Layout title="Sntolo">

		<!-- Sntolo Logo-->
		<div class="flex items-center justify-center min-h-screen ">
					<img
						src={sntoloLogo}
						width={300}
						height={300}
						class="object-cover"
						alt="sntolo-logo"
					/>
		</div>

		<div
		class="flex flex-col self-center max-w-5xl space-y-10"
		>
			<!-- 1er Parrafo -->
			<div class="self-center max-w-2xl">
				<p class="text-base text-center md:text-xl">
					Los sentimientos, emociones e ideas que inspiraron la composición de cada canción marcaron el camino para la creación de los símbolos que forman parte de la tabla del oráculo mudo.
				</p>
			</div>
		
			<!--* Simbolos Seba -->
			<SimbolArea/>
			
			<!-- 2do Parrafo -->
			<div class="self-center max-w-2xl">
				<p class="text-base text-center md:text-xl">
					Estos símbolos caligráficos fueron creados por <b>sayt.calligraphy</b>
				</p>
			</div>
			
			<!-- 3er Parrafo -->
			<div class="self-center max-w-2xl">
					<p class="text-base text-center md:text-xl">
						Lxs antiguxs brujxs dibujaban en sus rituales estos símbolos para invocar a lxs demonixs de la tabla, y asi adornar sus ceremonias con el canto y el baile de estas criaturas del inframundo.
					</p>
			</div>
			
			<!-- 1er Titulo -->
			<div class="mt-48 text-center">
				<h1 class="text-5xl font-bold flex-nowrap">| LA TABLA DEL ORACULO MUDO |</h1>
			</div>
			
			<!--* Reproductor -->
		</div>
		<MusicList/>
</Layout>
