---
---
<div class="container flex items-center justify-center mx-auto">
    <div class="flex flex-wrap items-center justify-center md:flex-nowrap">
        <div class="items-center justify-center hidden w-2/12 my-2 md:w-1/6 md:block">
            <img src="https://sntolo.com/wp-content/uploads/2023/08/image.webp" alt="Imagen 1">
        </div>
        <div class="flex items-center justify-center w-4/12 my-2 md:w-1/6">
            <img src="https://sntolo.com/wp-content/uploads/2023/08/1-Pit-el-beat.webp" alt="Imagen 2" class="img-fluid">
        </div>
        <div class="flex items-center justify-center w-4/12 my-2 md:w-1/6">
            <img src="https://sntolo.com/wp-content/uploads/2023/08/2-Un-todo-complejo.webp" alt="Imagen 3" class="img-fluid">
        </div>
        <div class="flex items-center justify-center w-4/12 my-2 md:w-1/6">
            <img src="https://sntolo.com/wp-content/uploads/2023/08/3-Para-estar-conmigo.webp" alt="Imagen 4" class="img-fluid">
        </div>
        <div class="flex items-center justify-center w-4/12 my-2 md:w-1/6">
            <img src="https://sntolo.com/wp-content/uploads/2023/08/4-Momo.webp" alt="Imagen 5" class="img-fluid">
        </div>
        <div class="flex items-center justify-center w-4/12 my-2 md:w-1/6">
            <img src="https://sntolo.com/wp-content/uploads/2023/08/5-Pork.webp" alt="Imagen 6" class="img-fluid">
        </div>
        <div class="flex items-center justify-center w-4/12 my-2 md:w-1/6">
            <img src="https://sntolo.com/wp-content/uploads/2023/08/6-Presagios.webp" alt="Imagen 7" class="img-fluid">
        </div>
        <div class="items-center justify-center hidden w-2/12 my-2 md:w-1/6 md:block">
            <img src="https://sntolo.com/wp-content/uploads/2023/08/image.webp" alt="Imagen 8">
        </div>
    </div>
</div>